<div class="productsContainer mt-5">

  <!--
      <ul>
    <li *ngFor="let item of items">
      {{item.name}}
      {{item.surname}}
      {{item.password}}
    </li>
  </ul>
  -->

  <div class="card m-3" style="width: 18rem; display: inline-block;">
    <img src="../../../assets/img/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Starting Price: <span style="color: blueviolet;"><b>150 $</b></span></p>
      <p class="card-text">Ending Date: 06-12-2021</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

</div>
