<div class="productsContainer mt-5">

  <div *ngFor="let item of items" class="card m-3" style="width: 18rem; display: inline-block;">
    <img src="../../../assets/img/1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">Starting Price: <span style="color: blueviolet;"><b>{{item.startingPrice}} $</b></span></p>
      <p class="card-text">Ending Date: {{item.endingTime}}</p>
      <a [routerLink]="['/product',item.id]" (click)="detailItem(item)" href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

</div>
